.topbar {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 50px;
  border-radius: 20px;
  background-color: #00809D;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menu-item {
  color: white;
  margin: 20px 20px 0px 10px;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-item.active {
  color: #FFD93D;
  font-weight: bold;
}

.menu-item:hover {
  color: #FFD93D;
}
